*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-transform: uppercase;
    justify-content: center;
    font-style: italic;
    display: flex;
    margin: 16px ;
    font-size: 8px;
}
form {
    text-align: center;
    justify-content: center;
    display: flex;
}
input , button{
    padding: 8px;
}
button {
    background-color: green;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-left: 8px;
}
ul li{
    display: flex;
    justify-content: center;
}